In [1]:
import pandas as pd
import numpy as np

In [2]:
df1=pd.read_csv('diabetes.csv')
df2=pd.read_csv('data5.csv')
df1.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [3]:
df2.head()

    Age  Area
0  22.0   NaN
1  38.0   C85
2  26.0   NaN
3  35.0  C123
4  35.0   NaN

**Solution for the first question replacing 177 na values with 177 raandom value from data set**

In [4]:
df2.count()

Age     714
Area    204
dtype: int64

In [5]:
df2.isna().sum()

Age     177
Area    687
dtype: int64

In [6]:
#taking random 177 values
df2_copy=df2.Age.dropna()
random_177_values=df2_copy.sample(177)
random_177_values

758    34.0
834    18.0
554    22.0
127    24.0
89     24.0
       ...
417    18.0
59     11.0
754    48.0
445     4.0
275    63.0
Name: Age, Length: 177, dtype: float64

In [7]:
# df2.Age.iloc[df2.Age.isna(), 0] = random_177_values
# while(df2.Age.isnull().sum()!=0):
#     df2.Age.fillna(random_177_values,inplace=True,limit=1)
# df2.Age=df2.Age.fillna(random_177_values)
# df2.Age
filtered_df = df2[df2.isnull()]
filtered_df.Age

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
886   NaN
887   NaN
888   NaN
889   NaN
890   NaN
Name: Age, Length: 891, dtype: float64

In [8]:
import numpy as np; import pandas as pd
M = len(filtered_df.index)
N = len(filtered_df.columns)
ran = pd.DataFrame(np.random.randn(M,N), columns=filtered_df.columns, index=filtered_df.index)

In [11]:
filtered_df.update(ran)
filtered_df

          Age      Area
0    0.068270  0.859685
1    1.089177  -0.98102
2   -1.421827  0.752323
3   -0.213829  0.622367
4   -0.303667   1.35764
..        ...       ...
886 -0.548595   1.76147
887 -0.883254 -0.350971
888 -0.323076   0.82788
889  0.213034   0.56913
890 -0.338907  0.154624

[891 rows x 2 columns]

In [12]:
filtered_df.isna().sum()

Age     0
Area    0
dtype: int64

**Solution for 2nd question most req occuring value with missing values**

In [ ]:
df2.count()

Age     714
Area    204
dtype: int64

In [ ]:
df2['Area'].value_counts()

G6             4
C23 C25 C27    4
B96 B98        4
E101           3
C22 C26        3
              ..
C85            1
D7             1
A36            1
B102           1
C106           1
Name: Area, Length: 147, dtype: int64

since B96 B98,G6 anf C23 C25 C26 are the most frequent ones i am considering B96 B98

In [ ]:
df2['Area'] = df2['Area'].replace(np.nan,'B96 B98')
df2.head()

    Age     Area
0  22.0  B96 B98
1  38.0      C85
2  26.0  B96 B98
3  35.0     C123
4  35.0  B96 B98

**Solution for 3RD question predicting missing values with random forest**

In [ ]:
from sklearn.ensemble import RandomForestRegressor

withAge = df1[pd.isnull(df1['Age'])]
withoutAge = df1[pd.isnull(df1['Age'])]

In [ ]:
df1.isnull().any(axis=0)

Pregnancies                 False
Glucose                     False
BloodPressure               False
SkinThickness               False
Insulin                     False
BMI                         False
DiabetesPedigreeFunction    False
Age                         False
Outcome                     False
dtype: bool

In [ ]:
df1.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]